<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>

{% for message in messages %}
    {% if user_now.username == message.user.username %}
        <p><strong>Ви:</strong> {{ message.text }}</p>
    {% elif message.user == message.chat.courier %}
        <p><strong>Кур'єр {{ message.chat.courier.username }} :</strong> {{ message.text }}</p>
    {% else %}
        <p><strong>{{ message.user.username }} :</strong> {{ message.text }}</p>
    {% endif %}
{% endfor %}
